[submodule "vendors/mattpocock"]
	path = vendors/mattpocock
	url = https://github.com/mattpocock/skills.git
[submodule "vendors/tanweai"]
	path = vendors/tanweai
	url = https://github.com/tanweai/pua.git
[submodule "vendors/obra"]
	path = vendors/obra
	url = https://github.com/obra/superpowers.git
[submodule "vendors/microsoft"]
	path = vendors/microsoft
	url = https://github.com/microsoft/markitdown.git
